/* Updated Home.css */

/* Container styling */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8; /* Light background color for the container */
  border-bottom: 1px solid #ddd; /* Add a subtle border at the bottom */
}

/* Content styling */
.content {
  flex: 1;
}

/* Image container styling */
.image-container {
  flex: 1;
  margin-left: 20px;
}

/* Image styling */
.image {
  width: 100%;
  height: auto;
  border-radius: 12px; /* Increase border-radius for a smoother look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1); /* Enhance the shadow effect */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Add hover effect to the image */
.image:hover {
  transform: scale(1.05); /* Enlarge the image slightly on hover */
}
